@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
p {
  font-size: 20px;
  line-height: 30px;
  align-items: center;
}
h2{
  font-size: 40px;
}
.container{
  width: 90%;
  margin:0 auto;
}
.nav-right {
  float: right;
}
.btn {
  border-radius: 5px;
  padding: 15px 30px;
  color: white;
  border: none;
  font-size: 20px;
}
.btn-blue {
  background-color: #496bf2;
}
.btn-green {
  background-color: #2dd6c1;
}

.sil {
  margin: 20px 0;
}

.nav-right ul li {
  display: inline-block;
  margin: 20px 2em;
}

.nav-left {
  float: left;
}
ul :hover {
  color: blue;
  cursor: pointer;
}

.clearfix {
  clear: both;
}

.bg-image {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  position: relative;
}
.txt {
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(0%, -30%);
}

.yes {
  color: #496bf2;
  margin-top: 10px;
  font-size: 40px;
}
.collo {
  color: #496bf2;
}
.service {
  box-shadow: 4px 4px 4px 4px lightgray;
  float: left;
  width: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 2%;
  margin: 20px;
  text-align: center;
}
.doctor .emergency {
  margin: 50%, 5%;
}
.about {
  margin: 50px 0;
}
.about-image {
  float: left;
  width: 50%;
}

.about-content {
  float: right;
  width: 48%;
  
}
.about-content p {
  margin: 20px 0;
}

.testimonial {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.testimonial img:not(:nth-child(2)) {
  width: 100px;
}

.female {
  width: 200px;
}
.sec {
  text-align: center;
}
.circles {
  width: fit-content;
  margin: 0 auto;
}
.circle-1 {
  background-color: #496bf2;
}
.circle-2 {
  background-color: #2dd6c1;
}
.problem {
  width: 50%;
  margin: 0 auto;
  margin-top:40px;
}
.testimonials-circle {
  width: 20px;
  height: 20px;

  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
}
.lucy {
  color: #496bf2;
  margin:20px 0;
  font-size: 20px;
}
.right {
  float: right;
}
.left {
  margin-bottom: 10px;
  margin-top: 10px;
}
.content {
  margin: 0 auto;
}

.tho {
  color: #496bf2;
}
/* h3 {
  text-align: center;
} */
.love {
  color: #2dd6c1;
}
.you {
  color: #496bf2;
}
.content h4 {
  color: #496bf2;
}
.form {
  width: 40%;
  padding: 20px;
}
.input {
  background-color: white;
  margin-bottom: 10px;
  padding: 20px 10px;
  border-radius: 5px;
}
.input input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px; 
}
textarea {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 20px 10px;
  border-radius: 5px;
}
.contact-us {
  margin: 20px 0;
}
.contact-us-content {
  background: url(../images/ezgif-2-81a50240fb.png) no-repeat center
    center/cover;
  height: 90vh;
  margin-top: 20px;
}
h4 {
  text-align: center;
}
.div {
  text-align: center;
}
.last {
  transform: translate(-30%);
}
.logo {
  width: 25%;
  float: left;
  padding: 4em 5em;
  text-align: center;
}

.logo ul {
  list-style-type: none;
  line-height: 2em;
}
.home {
  text-align: center;
}

.services h3 {
  color: #496bf2;
}
.participation {
  color: #496bf2;
}
.exerlence {
  color: #2dd6c1;
}

/* .logo-details{
  float: left;
} */
.imgh{
  margin:20px 0;
}